.header__admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-bottom: 20px;
}

.header__admin__left{
    font-size: 30px;
}

.header__admin__right{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    color: black;
}

.header__admin__right a{
    color: black;
}